<div class="team-info-container">
  <h2>{{ teamInfo?.teamName }}</h2>
  <img [src]="teamInfo?.teamLogo" alt="{{ teamInfo?.teamName }}" class="team-logo"/>
</div>

<ng-template #loading>
  <p>Loading team information...</p>
</ng-template>

<p-accordion>
  <p-accordionTab header="Players">
    <p-table [value]="teamInfo.players">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Position</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr>
          <td>{{ player.name }}</td>
          <td>{{ player.position }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>

  <p-accordionTab header="Games">
    <p-table [value]="teamInfo.games">
      <ng-template pTemplate="header">
        <tr>
          <th>Team Name</th>
          <th>Result</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-game>
        <tr>
          <td>{{ game.homeTeamName }}</td>
          <td>{{ game.gameResult }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
