.teamLogo {
  height: 37px;
  width: 37px;

}

.homeLogo {
  height: 37px;
  width: 37px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.custom-center {
  padding: 1.8rem!important;;
}
