<div *ngIf="!toastService.isVisible()" class="container">

  <p-table
  [columns]="cols"
  [value]="gamesData" [tableStyle]="{ 'min-width': '80rem' }"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <img *ngIf="col.field === 'awayTeamLogo'" [src]="rowData[col.field]" alt="Away Logo" class="teamLogo" />
          <img *ngIf="col.field === 'homeTeamLogo'" [src]="rowData[col.field]" alt="Home Logo" class="homeLogo" />
          <span *ngIf="col.field !== 'awayTeamLogo' && col.field !== 'homeTeamLogo'">
            {{ rowData[col.field] }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
